.background {
    background-color: rgb(246, 255, 255);
}

.padding {
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

h1{
    font-family: "Courier New", monospace;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 5px 5px #3f77a5;
}

h2{
    font-family: Arial;
    text-align: center;
    font-size: 15px;
    padding-left: 300px;
    padding-right: 300px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    padding-top: 50px; 
    padding-bottom: 50px;
}

#map {
    padding-top: 50px; 
    padding-left: 50px;
    padding-right: 50px;
}

#mapdesc {
    font-family: Helvetica, sans-serif;
    padding-bottom: 50px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
}

#stackedchart{
    padding-top: 50px; 
    padding-left: 50px;
    padding-right: 50px;
}

#chartdesc {
    font-family: Helvetica, sans-serif;
    padding-bottom: 50px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
} 

#bubble {
    padding-top: 50px; 
    padding-left: 50px;
    padding-right: 50px;
}

#bubbledesc {
    font-family: Helvetica, sans-serif; 
    padding-bottom: 50px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
}

#heatmap{
    padding-top: 50px; 
    padding-left: 50px;
    padding-right: 50px;
}

#heatmapdesc {
    font-family: Helvetica, sans-serif;
    padding-bottom: 50px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
}

.scatterplots {
    padding-top: 50px; 
    padding-bottom: 50px;
    justify-content: space-evenly;
}

#scatterplot {
    float:left; 
    width:50%;
    height:280px;
    padding-bottom: 50px;
}

#scatterplot2 {
    float:right; 
    width:50%;
    height:280px;
    padding-bottom: 50px;
}

.bottomdesc {
    padding-top: 50px; 
    padding-bottom: 50px;
    justify-content: space-evenly;
}

#plot1desc {
    float:left; 
    width:30%;
    height:280px;
    padding-bottom: 50px;
    padding-left: 290px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#plot2desc {
    float:right; 
    width:30%;
    height:280px;
    padding-bottom: 50px;
    padding-right: 320px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

#footer {
    font-family: Helvetica, sans-serif;
}
